<div id="error_excplanation">
  <% if @book.errors.any? %>
    <h3><%= @book.errors.count %> error prohibited this obj from beign saved:</h3>
    <ul><% @book.errors.full_messages.each do |message| %>
      <li><%= book %></li>
    <% end %></ul>
  <% end %>
</div>